* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header configs */
header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    font-family: 'Karla', sans-serif;
}

nav {
    width: 100%;
}

#logoContainer {
    margin-left: 10%;
}

#menu-ul {
    margin-left: 50%;
}

.nav-link {
    color: gray;
    text-transform: uppercase;
    font-size: 17px;
}

#plans-btn {
    color: #000;
    border: #000 solid 1px;
    width: 130px;
    margin-left: 25px;
    text-align: center;
}

#plans-btn:hover {
    color: #fff;
    background-color: gray;
    transition: 0.5s;
}

.btn-menu {
    margin-right: 20px;
    font-size: 20px;
    display: none;
}

/* header configs */

/* main container configs */
.mainContainer {
    height: 550px;
    background: hsl(256, 26%, 20%);
}

.title, .text {
    color: #fff;
    margin: 0 0 0 7%;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 65px;
    width: 80%;
    margin-top: 15%;
}

.text {
    font-family: 'Karla', sans-serif;
}

#plans-btn2 {
    text-align: center;
    color: #fff;
    border: #fff solid 1px;
    background-color: transparent;
    width: 150px;
    height: 35px;
    text-transform: uppercase;
    margin: 5% 0 0 7%;
}

#plans-btn2:hover {
    color: #000;
    border: #000 solid 1px;
    background-color: #fff;
    transition: 0.5s;
}

.img1, .img2, .img3 {
    position: absolute;
}

.img1 {
    margin-left: -310px;
}

.img2 {
    z-index: 1;
    margin: 0 0 0 18%;
    height: 440px;
    width: 470px;
}

/* imagem familia */
.img3 {
    z-index: 0;
    height: 600px;
    margin: 5% 0 0 5%;
}

/* second container */
.secondContainer {
    margin-top: 15%;
}

.titleTextContainer2 {
    display: flex;
    flex-direction: row;
}

.title2 {
    font-family: 'DM Serif Display', serif;
    font-size: 55px;
    margin-bottom: 7%;
}

.subtitle {
    font-family: 'DM Serif Display', serif;
    margin-top: 7%;
}

.text2 {
    font-family: 'Karla', sans-serif;
    color: #888383;
    width: 80%;
}

/* container 3 */
.thirdContainer {
    background-color: #fff;
    height: 300px;
    margin-top: 10%;
}

.workContainer {
    background-color: #2d2640;
    height: 220px;
    display: flex;
    justify-content: space-around;
}

.title3 {
    color: #fff;
    margin-top: 5%;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

.workContainer>.workBtn {
    height: 35px;
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8%;
    letter-spacing: 1px;
}

.workContainer>.workBtn:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

footer {
    background-color: #dad0d0;
    height: 400px;
}

.footerContainer {
    display: flex;
    height: 150px;
    justify-content: space-between;
}

#logoFooter {
    width: 100%;
    margin-top: 30px;
}

.footerIconContainer {
    margin-top: 20px;
}

.social_media_icon {
    font-size: 25px;
    margin-right: 7px;
    text-decoration: none;
    color: #888383;
}

.social_media_icon:hover{
    color: #000;
}

.footerLinksContainer{
    display: flex;
    justify-content: space-between;
}

.footerLinks > h3{
    text-transform: uppercase;
    color: #7e7878;
    font-size: 18px;   
}

.footerLinks > div > a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    margin-top: 5px;
    letter-spacing: 2px;
}

.footerLinks > div > a:hover{
    color: #48367e;
    transition: 0.5s;
}